<a href="https://colab.research.google.com/github/JANGJINHEE98/Recommendation-System-study/blob/main/%EC%B6%94%EC%B2%9C_%EC%8B%9C%EC%8A%A4%ED%85%9C%EC%9D%98_%EC%9D%B4%ED%95%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 추천 시스템의 이해
참고 
https://www.kaggle.com/jinheejang/00-apriori-fp-growth/edit

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (21.1.3)
Collecting pip
  Downloading pip-21.3.1-py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 4.3 MB/s
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 21.1.3
    Uninstalling pip-21.1.3:
      Successfully uninstalled pip-21.1.3
Successfully installed pip-21.3.1

In [6]:
pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.19.0)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

## Apriori 알고리즘

In [8]:
import mlxtend

In [10]:
import numpy as np
import pandas as pd

In [11]:
data = np.array([
    ['우유', '기저귀', '쥬스'], # 구매 목록 
    ['양상추', '기저귀', '맥주'],
    ['우유', '양상추', '기저귀', '맥주'],
    ['양상추', '맥주']
])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  """

In [12]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder() # 모든 카테고리에서 그 해당 물건을 샀는지 ture or false로 보여줌 
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_) # 보기 좋게 데이터 프레임으로 바꿔줍니다.
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [13]:
te.columns_

['기저귀', '맥주', '양상추', '우유', '쥬스']

In [14]:
%%time
from mlxtend.frequent_patterns import apriori

a = apriori(df, min_support=0.5, use_colnames=True) #min_support :최소지지도

CPU times: user 15.4 ms, sys: 784 µs, total: 16.2 ms
Wall time: 16.9 ms

In [15]:
a

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (맥주, 기저귀)
5     0.50      (기저귀, 양상추)
6     0.50       (기저귀, 우유)
7     0.75       (맥주, 양상추)
8     0.50  (맥주, 기저귀, 양상추)

## FP-Growth 알고리즘
* FP Tree를 만들어주고, 최소 지지도 이상의 패턴을 추출 하는 알고리즘
* 트리의 부모노드를 중심으로 자식노드를 추가 (새로운 아이템이 나올 경우 부모노드부터 시작, 그렇지 않으면 기존의 노드에서 확장)

In [16]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [9]:
mlxtend.__version__ # fpgrowth를 사용하기 위해 버전 확인 필요 (0.17.0 부터 가능)

'0.19.0'

In [18]:
%%time
from mlxtend.frequent_patterns import fpgrowth

a = fpgrowth(df, min_support=0.5, use_colnames=True)

CPU times: user 5.21 ms, sys: 21 µs, total: 5.23 ms
Wall time: 7.39 ms

In [19]:
a

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (맥주, 기저귀)
5     0.50      (기저귀, 양상추)
6     0.50  (맥주, 기저귀, 양상추)
7     0.50       (기저귀, 우유)
8     0.75       (맥주, 양상추)